@model WebApplication8.Models.Changepassword

<h2 style="background-color:burlywood">Change password</h2>

<form method="post" asp-action="Changepassword" asp-controller="Wellcome">
	<div class="form-control">

		<label>Username</label>

		<input type="text" id="Username" class="form-control" asp-for="Username" required />

	</div>

	<div class="form-control">

		<label>CurrentPassword</label>

		<input type="password" id="CurrentPassword" class="form-control" asp-for="CurrentPassword" required />

	</div >
	<div class="form-control">

		<label>NewPassword</label>

		<input type="password" id="NewPassword" class="form-control" asp-for="NewPassword" required />

	</div>

	<div class="form-control">

		<label>Confirmpassword</label>

		<input type="password" id="Confirmpassword" class="form-control" asp-for="Confirmpassword" required />

	</div>

	<div>
		<button type="submit" class="btn btn-success">ChangePassword</button>
	</div>

</form>