@model WebApplication8.Models.forgetPassword


<h2>Forget   Password ? </h2>

<form method="post" asp-action="ForgetPassword" asp-controller="Wellcome">

	<div class="form-control">
		<div class="col-2">
			<label for="Username">Username</label>
		</div>
		<div>
			<input type="text" id="Username" class="form-control"/>
		</div>

		<div class="col-2">
			<label for="NewPassword">NewPassword</label>
		</div>
		<div>
			<input type="text" id="NewPassword" class="form-control" />
		</div>

		<div>
			<button type="submit">Generate Password</button>
		</div>
	</div>

</form>