@model WebApplication8.Models.User

<h2>Login Page</h2>

<a href="/Wellcome/Register">If you do not have account, please Register here !</a>

<form method="post">

	<div class="col-sm-2">
		<label for="Username">Username</label>

		<input type="text" id="Username" name="Username" required />
	</div>

	<div class="col-2">
		<label for="Password">Password</label>
		<input type="text" id="Password" name="Password" required />
	</div>

	<div>
		<button type="submit" class="btn btn-success">Login</button>
	</div>

</form>

<a href="/Wellcome/Changepassword">Reset Password</a>
