@model WebApplication8.Models.User

<h2 style="background-color:burlywood">Login page</h2>

<

<form method="post">

	<div class="col-sm-2">
		<label for="Username">Username</label>

		<input type="text" id="Username" name="Username" required />
	</div>

	<div class="col-12">
		<label for="Password">Password</label>
		<input type="text" id="Password" name="Password" required />
	</div>

	<div>
		<button type="submit" class="btn btn-success">Login</button>
	</div>

</form>